ul {
    padding-left: 0;
}

/* .facebook:hover{
    fill: blue
}

.instagram:hover{
    fill: purple
}

.twitter:hover{
    fill:rgb(0, 162, 255)
}

.youtube:hover{
    fill:red
} */

svg{
    margin-bottom: 16px;
}